In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [2]:
import nltk 
stopwords=stopwords.words("english")

In [3]:
stopwords[:5]

['i', 'me', 'my', 'myself', 'we']

In [4]:
df=pd.read_csv("news.csv")

In [5]:
df.head()

,title,content,published_at,source,topic
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea...",2022-07-30T07:00:00Z,2,13
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...,2022-12-22T15:57:55Z,2,13
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou...",2022-08-16T07:00:00Z,1,7
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...,2022-12-18T13:08:40Z,1,7
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...,2022-11-21T08:00:00Z,1,8

In [6]:
df.drop(columns=["published_at","source","topic"], inplace=True)

In [7]:
df.head()

,title,content
0,BTS: RM is reminded of Bon Voyage as he travel...,"After reaching his hotel in the city, RM revea..."
1,RM recalls wondering if he 'made right decisio...,RM aka Kim Namjoon was the first member to joi...
2,BTS: J-Hope and RM go bonkers at Billie Eilish...,"Billie Eilish's concert was held in Seoul, Sou..."
3,"BTS: J-Hope proudly states he raised Jungkook,...",BTS ARMY y'all would be missing the members a ...
4,BTS: Jin aka Kim Seokjin takes us through the ...,BTS member Kim Seokjin aka Jin has the capacit...

In [8]:
df["content"]=df["title"]+df["content"]

In [9]:
df.drop(columns=["title"], inplace=True)

In [10]:
df.head()

                                             content
0  BTS: RM is reminded of Bon Voyage as he travel...
1  RM recalls wondering if he 'made right decisio...
2  BTS: J-Hope and RM go bonkers at Billie Eilish...
3  BTS: J-Hope proudly states he raised Jungkook,...
4  BTS: Jin aka Kim Seokjin takes us through the ...